---
layout: layouts/home.njk
---

<img id="me"  class="rounded-circle" src="/img/pictureofme.jpg" alt="Thomas mann">

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Who am I?
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      Hi I’m Tom a trainee web developer from Halifax. 
      I have been teaching myself coding for a few years and 
      recently started studying computing at the Open university. 
      Currently I’m having a great time on the JAMstack path with the <a href="https://thecodersguild.org.uk/" target="_blank">coders guild</a> and thats what this 
      blog is all about. It documents what I have learned and demonstrates the work and 
      assignments I have completed.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Who are the coders guild?
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        To quote from the <a href="https://thecodersguild.org.uk/about/" target="_blank">coders guild</a> website as a great excuse to use the semantic &lt;blockquote&gt; tag.
        <blockquote cite="https://thecodersguild.org.uk/about/" class="blockquote mx-3 my-3"> 
        The Coders Guild is a well-respected training provider with over seven years’ experience designing 
        and delivering high-quality digital apprenticeships.
        </blockquote>
        My experience of the coders guild has been great. The most important aspect for me has been interacting with and learning from  
        industry professionals. Receiving feedback on my work which i feel has greatly improved my skills and knowledge. Due to covid all the sessions took 
        place over zoom which I feel is a good skill to be comfortable with in the modern workplace. 
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        My experience
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        I have been teaching myself to code for a number of years in my spare time looking to transition into a career in tech.
        I decided this as I really enjoy programming and problem solving.  
        Over this time I have taught myself a lot but I 
        feel that attending the coders guild is really helping me to revise and demonstrate the skills I have developed.
        For example writing blog posts and adding them to this website is really good for my learning and demonstrating my understanding.    
      </div>
    </div>
  </div>

</div>