---
layout: layouts/home.njk
permalink: /projects/
eleventyNavigation:
  key: Projects
  order: 2
title: My Projects
---

<h1>{{title}}</h1>

{% for project in collections.project %}
<div class="project-container">
  <h3 class="">{{project.data.title}}</h3>
  <img src="{{ project.data.thumbnail }}"/>
    {{ project.templateContent | safe }}
</div>
{%endfor%}
