---
layout: layouts/home.njk
permalink: /projects/
eleventyNavigation:
  key: Projects
  order: Latest
title: My Projects
---

<h1>{{title}}</h1>

{% for project in collections.project %}

  <h3 class="text-start">{{project.data.title}}</h3>
  <img class="blog-img" src="{{ project.data.thumbnail }}"/>
  <p class=" ">
    {{ project.templateContent | safe }}
  </p>

{%endfor%}
