---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>{{ title }}</h1>
<p>
  <span  style="font-weight: bold;">Rating:</span>
  {{ rating }}⭐️
</p>

<img class="blog-img" src="{{ thumbnail | url }}"/>


{{ content | safe }}

